:root {
  --main-color: #ff385c;
  --title-wight: 600;
  --light-border: #dddddd;
  --light-text: rgb(146, 141, 141);
  --text-color: #222;
  --bg-color: #fff;
  --line-color: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}