@use "@/app/vars" as *;

.contentContainer {
    padding: 1rem 5rem;
}

.listContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 2rem;
}